<div class="max-w-screen-xl mx-auto py-4 px-4">
  <h5>Categorias:</h5>
  <div class="flex  sm:px-6 lg:px-8 overflow-x-auto">
    @for (item of categories(); track $index) {
      <a [routerLink]="['/']" [queryParams]="{ category_id: item.id }" class="flex flex-col items-center mr-6">
        <picture>
          <img [src]="item.image" [alt]="item.name" class="w-20 h-20 object-cover rounded-lg mr-4 mb-4 cursor-pointer" [title]="item.name" />
          <legend>
            <span class="text-sm">{{ item.name }}</span>
          </legend>
        </picture>
      </a>
    }
  </div>
</div>




<div class="max-w-screen-xl mx-auto py-8 px-4 sm:px-6 lg:px-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6">
    @for (item of products(); track $index) {
      <app-product
        [item]="item"
        (addToCart)="onAddToCart(item)"
      />
    }
</div>

