<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Script para ejemplos básicos -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="app">
        <form action=""></form>
        <input type="text" v-model="msg">
        <input type="checkbox" value="1" v-model="options">Op 1
        <input type="checkbox" value="2" v-model="options">Op 2
        <input type="checkbox" value="3" v-model="options">Op 3

        <p>Usted selecciono {{ options.join('') }}</p>
    </div>
    
</body>
</html>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                msg : 'Hello World.',
                options: []
            }
        },
    })
</script>