<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Script para ejemplos básicos -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="app">

        <ol>
            <li v-for="(i, index) in valores" :key="index">{{ i }}</li>
        </ol>

        <ol>
            <li v-for="y in valores" >{{ y }}</li>
        </ol>

        <ol>
            <li v-for="x in 10">{{ x }}</li>
        </ol>
        
    </div>
    
</body>
</html>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                valores: [
                    "valor 1",
                    "valor 2",
                    "valor 3",
                    "valor 4",
                    "valor 5",
                    "valor 6"
                ]
            }
        },
    })
</script>