@import url("https://fonts.googleapis.com/css?family=Lato");
html,
body {
  height: 100%;
  margin: 0;
  font-family: Lato, sans-serif;
  background-color: #E1E2E1;  
}
header{
    background:#2e7bcf;        
}
