<footer class="ae-container-fluid rk-footer ">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <ul class="rk-menu rk-footer-menu">
        <li routerLinkActive="active" class="rk-menu__item"><a routerLink="about" class="rk-menu__link">About</a>
        </li>
        <li class="rk-menu__item"><a href="documentation.html" class="rk-menu__link">Docs</a>
        </li>
        <li class="rk-menu__item"><a href="contact.html" class="rk-menu__link">Contact</a>
        </li>
      </ul>
      <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{anio}}
          {{_infoService.info.name_short}}</span> All Right Reserved.</p>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center"><a href="{{_infoService.info.facebook}}"
        class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
        </svg></a><a href="{{_infoService.info.twitter}}" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
        </svg></a><a href="{{_infoService.info.instagram}}" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
        </svg></a><a href="{{_infoService.info.tumbl}}" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-tumblr"></use>
        </svg></a></div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact "> <span class="ae-u-bold">Email: </span><span class="ae-u-bolder">
          <a href="mailTo:{{_infoService.info.Email}}" class="rk-dark-color ">{{_infoService.info.Email}} </a></span></p>
      <p class="rk-footer__text rk-footer__by">Hecho por <a href="{{_infoService.info.page_autor}}"
          class="ae-u-bolder">{{_infoService.info.name_short}}</a></p>
    </div>
  </div>
</footer>