/* CSS Document */

body{
	background:#59ABE3;
	margin:0px;
	padding:0px;
	}
.container{
	width:600px;
	height:350px;
	background:#e6e6e6;
	border-radius:8px;
	box-shadow:0 0 40px -10px #000;
	margin:calc(50vh - 220px) auto;
	box-sizing:border-box;
	font-family:'Montserrat',sans-serif;
	position:relative;
	padding:15px;
	}
h2{
	margin:10px 0;
	padding-bottom:10px;
	width:100%;
	color:#78788c;
	border-bottom:3px solid #78788c;
	}
input{
	width:40%;
	padding:5px;
	background:none;
	border:0;
	font-family:'Montserrat',sans-serif;
	transition:all .3s;
	border-bottom:2px solid #bebed2;
	}
input:focus{
	border-bottom:2px solid #78788c;
	}

button{
	float:right;
	padding:12px 12px;
	margin:8px 0 0;
	font-family:'Montserrat',sans-serif;
	border:2px solid #78788c;
	background:0;
	color:#5a5a6e;
	cursor:pointer;
	transition:all .3s;
	}
button:hover{
	background:#78788c;
	color:#fff;
	}
.select {	
   border:1px solid #d9d9d9;
   height:30px;
   overflow: hidden;
   width: 270px;
   position:relative;
}
select {
   background: transparent;
   border: none;
   font-size: 12px;
   height: 30px;
   padding: 5px;
   width: 270px;
}
select:focus{ outline: none;}

.select::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:#d9d9d9;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}

.clase_emision{
	position:relative;
	left:340px;
	top:-81px;
	}
.clase_serie{
	position:relative;
	top:-73px;;
	}
.clase_numero{
	position:relative;
	left:340px;
	top:-150px;;
	}
.clase_cliente{
	position:relative;
	top:-130px;;
	}
.clase_enviar{
	position:relative;
	top:-170px;
	right:30px;
	}
	
table {
   width: 600px;
   text-align: left;
   border-collapse: collapse;
   margin: 0 0 1em 0;
   caption-side: top;
   margin:calc(50vh - 220px) auto;
}
caption, td, th {
   padding: 0.3em;
}
tbody {
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
}
tbody th, tfoot th {
   border: 0;
}
th.name {
   width: 25%;
}
th.location {
   width: 20%;
}
th.lasteruption {
   width: 30%;
}
th.eruptiontype {
   width: 25%;
}
tfoot {
   text-align: center;
   color: #555;
   font-size: 0.8em;
}