<section class="todoapp">
    <header class="header">
        <div class="container">
            <h2>My Day</h2>
            <p>All my tasks in one place</p>
            <input class="new-todo" placeholder="Type new todo" autofocus type="text"
                [formControl]="newTaskCtrl"
                (keydown.enter)="addTask($event)" />
            <small *ngIf="newTaskCtrl.invalid && (newTaskCtrl.dirty || newTaskCtrl.touched)">
                <span *ngIf="newTaskCtrl.errors?.['required']">Task is required.</span>
                <span *ngIf="newTaskCtrl.errors?.['minlength']">Task must be at least 2 characters long.</span>
                <span *ngIf="newTaskCtrl.errors?.['maxlength']">Task cannot be more than 50 characters long.</span>
            </small>
        </div>
    </header>
    <div class="container todoapp-wrapper">
        <!-- This section should be hidden by default and shown when there are todos -->
        <section class="main">
            <ul class="todo-list">
                @for (item of tasks(); track $index) {
                    <li [class.completed]="item.completed">
                        <div class="view">
                            <input class="toggle" type="checkbox" [checked]="item.completed" (change)="toggleTaskCompletion($index)" />
                            <label>{{ item.title }}</label>
                            <button class="destroy" (click)="removeTask($index)"></button>
                        </div>
                        <input class="edit" value="{{ item.title }}" />
                    </li>
                }
                <li class="editing">
                    <div class="view">
                        <input class="toggle" type="checkbox" />
                        <label>Make dishes</label>
                        <button class="destroy"></button>
                    </div>
                    <input class="edit" value="Make dishes" />
                </li>
            </ul>
        </section>
        <!-- This footer should be hidden by default and shown when there are todos -->
        <footer class="footer">
            <!-- This should be `0 items left` by default -->
            <span class="todo-count">
                <strong>{{ tasks().length }}</strong>
                item{{ tasks().length === 1 ? '' : 's' }}
            </span>
            <!-- Remove this if you don't implement routing -->
            <ul class="filters">
                <li>
                    <a routerLink="/" class="selected">All</a>
                </li>
                <li>
                    <a routerLink="/pending">Pending</a>
                </li>
                <li>
                    <a routerLink="/completed">Completed</a>
                </li>
            </ul>
            <!-- Hidden if no completed items are left ↓ -->
            <button class="clear-completed">Clear completed</button>
        </footer>
    </div>
</section>
