$primary: #fff;

.card {
    background-color: $primary;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    transition: box-shadow 0.3s ease;
    color: #000;
    &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
}